:root {
  --background-color: hsla(230, 15%, 15%, 1);
  --text-color: hsla(220, 100%, 98%, 1);
  --card-background-color: hsla(228, 15%, 20%, 1);
  --border-radius: 0.25rem;
  --padding: 0.5rem;
  --gap: 0.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: monospace;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: var(--padding);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.token {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tokens {
  background-color: var(--background-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.failing-section {
  background-color: hsla(0, 65%, 65%, 0.4);
  width: fit-content;
}

.test-case {
  background-color: var(--card-background-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.test-cases {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.failing-test {
  border: 1px solid hsla(0, 65%, 65%, 0.4);
}

.passing-test {
  border: 1px solid hsla(142, 65%, 65%, 0.4);
}

code {
  padding: var(--padding);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

th {
  padding: 0.25rem 0.5rem;
}

td {
  padding: 0 0.5rem;
}
